<div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="navbar-left">
        <a routerLink="/home" class="navbar-brand align-items-center">
            <strong>Angular Auth</strong>
        </a>
    </div>
    <div class="navbar-right btn-group">
        <a routerLink="/home" class="btn btn-outline-light" routerLinkActive="active">Home</a>
        <a routerLink="/register" class="btn btn-outline-light" routerLinkActive="active">Register</a>
        <a routerLink="/login" class="btn btn-outline-light" routerLinkActive="active">Login</a>
    </div>
</div>