<div class="jumbotron">
    <h1>MEAN Auth Application</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h2>Express.JS</h2>
            <p>A fast, unopinionated, minimalstic web framework for <code>Node.JS</code></p>
        </div>
        <div class="col-md-4">
            <h2>Angular-CLI</h2>
            <p>This is a Command Line Interface for building the framework for Angular Applications.</p>
        </div>
        <div class="col-md-4">
            <h2>MongoDB</h2>
            <p>A very common NoSQL database.</p>
        </div>
    </div>
</div>